.red{
    background-color: brown;
    width: 200px;
    height: 200px;
    position: absolute;

    display: inline-block;
    
}

.blue{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 210px;
    left: 210px;
    display: inline-block;
}

.purple{
    background-color: purple;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 410px;
    left: 410px;
    display: inline-block;
}